<table id='board' class='container'>
  <tr>
    <td id='top-left' class='square'><p></p></td>
    <td id='top-mid' class='square'><p></p></td>
    <td id='top-right' class='square'><p></p></td>
  </tr>
  <tr>
    <td id='mid-left' class='square'><p></p></td>
    <td id='mid-mid' class='square'><p></p></td>
    <td id='mid-right' class='square'><p></p></td>
  </tr>
  <tr>
    <td id='bottom-left' class='square'><p></p></td>
    <td id='bottom-mid' class='square'><p></p></td>
    <td id='bottom-right' class='square'><p></p></td>
  </tr>
</table>