/* General */
* { font-family: sans-serif !important }
html, body {
	width: 100%;
}

h1 {
	text-align: center;
}

.hidden {
	display: none;
}

/* Board */

#board {
	width: 600px;
	height: 600px;
	margin: 0 auto;
	text-align: center;
}

.square {
	display: inline-block;
	text-align: center;
	line-height: 180px;
	vertical-align: middle;
	font-size: 140pt;
	margin: 0;
	padding: 0;
	height: 180px;
	width: 180px;
}

#top-left {
	border-bottom: 10px solid;
	border-right: 10px solid;
}

#top-mid {
	border-bottom: 10px solid;
	border-right: 10px solid;
	border-left: 10px solid;
}

#top-right {
	border-bottom: 10px solid;
	border-left: 10px solid;
}

#mid-left {
	border-bottom: 10px solid;
	border-right: 10px solid;
	border-top: 10px solid;
}

#mid-mid {
	border-bottom: 10px solid;
	border-top: 10px solid;
	border-right: 10px solid;
	border-left: 10px solid;
}

#mid-right {
	border-bottom: 10px solid;
	border-top: 10px solid;
	border-left: 10px solid;
}

#bottom-left {
	border-right: 10px solid;
	border-top: 10px solid;
}

#bottom-mid {
	border-top: 10px solid;
	border-right: 10px solid;
	border-left: 10px solid;
}

#bottom-right {
	border-top: 10px solid;
	border-left: 10px solid;
}

.temp_filled {
	margin: 0;
	color: #d1d0ce;
}

.filled {
	margin: 0;
}